<div class="row d-flex justify-content-between">
    <img style="width: 50%" class="img-fluid col-sm-12 mx-auto" src="https://cdn.iconscout.com/icon/free/png-256/celebration-party-popper-tada-decoration-christmas-38099.png" alt="">
    <div class="result text-center col-md-6 col-sm-12">
        <h3>Félicitations!! <br>Vous avez terminé. <br>Vos résultats: </h3>
        
        <p>ID : @ViewBag.id</p>
    </div>
</div>